# JWT
JWT_SECRET=yourSuperSecretKey
# 유효기간 30일
JWT_EXPIRATION=2592000

# Database
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/your_db_url
SPRING_DATASOURCE_USERNAME=your_db_user
SPRING_DATASOURCE_PASSWORD=your_db_password

# JPA 설정
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true
SPRING_HIBERNATE_FORMAT_SQL=true
SPRING_HIBERNATE_DEFAULT_SCHEMA=your_schema