# JWT
JWT_SECRET=yourSuperSecretKey
JWT_EXPIRATION=2592000  # 30일

# Database
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/oinkvalley
SPRING_DATASOURCE_USERNAME=your_db_user
SPRING_DATASOURCE_PASSWORD=your_db_password

# JPA 설정
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true
SPRING_HIBERNATE_FORMAT_SQL=true
SPRING_HIBERNATE_DEFAULT_SCHEMA=oinkvalley_local_dev_schema